In this project I have loaded boston dataset split it into train and test and applied linear regression on it. Then played with
the features i.e taking square of features as an extra column or taking product of any two feature as an extra column and then 
analysed the effect of it on my score

In [4]:
from sklearn import datasets
import pandas as pd

In [5]:
boston = datasets.load_boston()

In [6]:
X = boston.data
Y = boston.target
print(X.shape,Y.shape)

(506, 13) (506,)

In [7]:
df = pd.DataFrame(X)
df.columns = boston.feature_names
df1 = df.copy()

In [8]:
for i in boston.feature_names:
    df[i*2] = (df[i])**2

df1 is the pandas dataframe of features of boston data whereas the df dataframe created in the above cell contain all the features of boston data and it contains the square of all features as extra feature.

In [28]:
df1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [9]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,CHASCHAS,NOXNOX,RMRM,AGEAGE,DISDIS,RADRAD,TAXTAX,PTRATIOPTRATIO,BB,LSTATLSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,0.0,0.289444,43.230625,4251.04,16.728100,1.0,87616.0,234.09,157529.6100,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,0.0,0.219961,41.229241,6225.21,24.672082,4.0,58564.0,316.84,157529.6100,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,0.0,0.219961,51.624225,3733.21,24.672082,4.0,58564.0,316.84,154315.4089,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,0.0,0.209764,48.972004,2097.64,36.750269,9.0,49284.0,349.69,155732.8369,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,0.0,0.209764,51.079609,2937.64,36.750269,9.0,49284.0,349.69,157529.6100,28.4089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,0.0,0.328329,43.467649,4774.81,6.143458,1.0,74529.0,441.00,153656.1601,93.5089
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,0.0,0.328329,37.454400,5882.89,5.232656,1.0,74529.0,441.00,157529.6100,82.4464
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,0.0,0.328329,48.664576,8281.00,4.698056,1.0,74529.0,441.00,157529.6100,31.8096
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,0.0,0.328329,46.158436,7974.49,5.706843,1.0,74529.0,441.00,154802.9025,41.9904
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,0.0,0.328329,36.360900,6528.64,6.275025,1.0,74529.0,441.00,157529.6100,62.0944

In [29]:
X1 = df.values
X1.shape

(506, 26)

In [30]:
from sklearn import model_selection

In [31]:
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,random_state = 0)
X1_train,X1_test,Y1_train,Y1_test = model_selection.train_test_split(X1,Y,random_state = 0)
X.shape

(506, 13)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
alg1 = LinearRegression()
alg1.fit(X_train,Y_train)

alg2 = LinearRegression()
alg2.fit(X1_train,Y1_train)

LinearRegression()

In [34]:
Y_pred = alg1.predict(X_test)
train_score1 = alg1.score(X_train,Y_train)
test_score1 = alg1.score(X_test,Y_test)
print(train_score1,test_score1)

Y1_pred = alg2.predict(X1_test)
train_score2 = alg2.score(X1_train,Y1_train)
test_score2 = alg2.score(X1_test,Y1_test)
print(train_score2,test_score2)

0.7697699488741149 0.6354638433202144
0.8596413794910495 0.7200918269119061

clearly by taking square of features as another feature our score/accuracy has been improved. Now let's see the effect on score 
by taking product of different features as an extra feature

In [10]:
df2 = df1.copy()
df2.shape

(506, 13)

In [11]:
k = 0
for i in boston.feature_names:
    for j in range(k,13):
        df2[i+boston.feature_names[j]] = (df2[i])*(df2[boston.feature_names[j]])
    k+=1
df2.shape

(506, 104)

In [12]:
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAXTAX,TAXPTRATIO,TAXB,TAXLSTAT,PTRATIOPTRATIO,PTRATIOB,PTRATIOLSTAT,BB,BLSTAT,LSTATLSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,87616.0,4528.8,117482.40,1474.08,234.09,6072.570,76.194,157529.6100,1976.5620,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,58564.0,4307.6,96049.80,2211.88,316.84,7064.820,162.692,157529.6100,3627.6660,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,58564.0,4307.6,95064.86,975.26,316.84,6992.374,71.734,154315.4089,1583.1049,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,49284.0,4151.4,87607.86,652.68,349.69,7379.581,54.978,155732.8369,1160.2122,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,49284.0,4151.4,88111.80,1183.26,349.69,7422.030,99.671,157529.6100,2115.4770,28.4089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,74529.0,5733.0,107013.27,2639.91,441.00,8231.790,203.070,153656.1601,3790.5433,93.5089
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,74529.0,5733.0,108353.70,2478.84,441.00,8334.900,190.680,157529.6100,3603.8520,82.4464
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,74529.0,5733.0,108353.70,1539.72,441.00,8334.900,118.440,157529.6100,2238.5160,31.8096
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,74529.0,5733.0,107411.85,1769.04,441.00,8262.450,136.080,154802.9025,2549.5560,41.9904
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,74529.0,5733.0,108353.70,2151.24,441.00,8334.900,165.480,157529.6100,3127.5720,62.0944

In [41]:
X2 = df2.values
X2.shape

(506, 104)

In [42]:
from sklearn import model_selection

In [43]:
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,random_state = 0)
X2_train,X2_test,Y2_train,Y2_test = model_selection.train_test_split(X2,Y,random_state = 0)
X.shape

(506, 13)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
alg1 = LinearRegression()
alg1.fit(X_train,Y_train)

alg3 = LinearRegression()
alg3.fit(X2_train,Y2_train)

LinearRegression()

In [47]:
Y_pred = alg1.predict(X_test)
train_score1 = alg1.score(X_train,Y_train)
test_score1 = alg1.score(X_test,Y_test)
print(train_score1,test_score1)

Y2_pred = alg3.predict(X2_test)
train_score3 = alg3.score(X2_train,Y2_train)
test_score3 = alg3.score(X2_test,Y2_test)
print(train_score3,test_score3)

0.7697699488741149 0.6354638433202144
0.9520519609032727 0.6074721959722745

we can see that test_score2 > test_score1 > test_score3. It is because we have balanced our df data by adding some columns and so the efficiency and test score increse but test_score3 is less than test_score1 because we have overfitted our data (so many columns in df2 were added (overfitting)) due to which the algorithm remember our data and its efficiency for training data is superb but it is even worse than normal case for test data.